In [71]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

In [72]:
# Add one exercise to the dataframes beginnen for the name of the measurement sensor

maps = ['IvoSquads', 'IvoLunges', 'IvoJumpingJacks', 'IvoLegRaises', 'IvoCrunches', 'IvoPushUps']


# Specify the directory containing the CSV files
directory = '/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/exercisesIvo/IvoSquads'

# Create an empty dictionary to store the DataFrames
dataframes = {}

# Loop through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(directory, filename)
            
        # Read the CSV file into a pandas DataFrame
        df = pd.read_csv(file_path)
            
        # Assign a name to the DataFrame (e.g., using the filename without the extension)
        name = filename[:-4]# Remove the '.csv' extension
        dataframes[name] = df
            
        # Process the DataFrame or perform desired operations
        # For example, you can print the contents of the DataFrame

In [73]:
# Add the other exercises
maps = ['IvoLunges/', 'IvoJumpingJacks/', 'IvoLegRaises/', 'IvoCrunches/', 'IvoPushUps/']

# Specify the directory containing the CSV files
directory = '/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/exercisesIvo/'

# Create an empty dictionary to store the DataFrames
additionaldfs = {}

for map in maps:
    path = os.path.join(directory, map)
    
    # Loop through all files in the directory
    for filename in os.listdir(path):
        if filename.endswith('.csv'):  # Check if the file is a CSV file
            file_path = os.path.join(path, filename)  # Use 'path' instead of 'directory'
            
            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(file_path)
            
            # Assign a name to the DataFrame (e.g., using the filename without the extension)
            name = filename[:-4] + map[:-1] # Remove the '.csv' extension
            additionaldfs[name] = df
            
            # Process the DataFrame or perform desired operations
            # For example, you can print the contents of the DataFrame

print(additionaldfs.keys())

dict_keys(['Linear_AccelerometerIvoLunges', 'ProximityIvoLunges', 'deviceIvoLunges', 'BarometerIvoLunges', 'LocationIvoLunges', 'MagnetometerIvoLunges', 'AccelerometerIvoLunges', 'GyroscopeIvoLunges', 'timeIvoLunges', 'Linear_AccelerometerIvoJumpingJacks', 'ProximityIvoJumpingJacks', 'deviceIvoJumpingJacks', 'BarometerIvoJumpingJacks', 'LocationIvoJumpingJacks', 'MagnetometerIvoJumpingJacks', 'AccelerometerIvoJumpingJacks', 'GyroscopeIvoJumpingJacks', 'timeIvoJumpingJacks', 'Linear_AccelerometerIvoLegRaises', 'ProximityIvoLegRaises', 'deviceIvoLegRaises', 'BarometerIvoLegRaises', 'LocationIvoLegRaises', 'MagnetometerIvoLegRaises', 'AccelerometerIvoLegRaises', 'GyroscopeIvoLegRaises', 'timeIvoLegRaises', 'Linear_AccelerometerIvoCrunches', 'ProximityIvoCrunches', 'deviceIvoCrunches', 'BarometerIvoCrunches', 'LocationIvoCrunches', 'MagnetometerIvoCrunches', 'AccelerometerIvoCrunches', 'GyroscopeIvoCrunches', 'timeIvoCrunches', 'Linear_AccelerometerIvoPushUps', 'ProximityIvoPushUps', 'deviceIvoPushUps', 'BarometerIvoPushUps', 'LocationIvoPushUps', 'MagnetometerIvoPushUps', 'AccelerometerIvoPushUps', 'GyroscopeIvoPushUps', 'timeIvoPushUps'])

In [74]:
# Concatenate all the dataframes of the same measurement type in one dataframe
files = []
for filename in os.listdir('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/exercisesIvo/IvoCrunches/'):
    if filename.endswith('.csv'):
        files.append(filename[:-4])

combineddf = {}

for df in dataframes.keys():
    for df2 in additionaldfs.keys():
        if df in df2:
            combineddf[df] = pd.concat([dataframes[df], additionaldfs[df2]],ignore_index=True)
            dataframes[df] = combineddf[df]
            # print(combineddf[df])

In [75]:
dataframes['Accelerometer'].rename(columns={'Time (s)': 'timestep', 'X (m/s^2)': 'x', 'Y (m/s^2)': 'y', 'Z (m/s^2)': 'z'}, inplace=True)
# dataframes['Accelerometer']['timeseq'] = dataframes['Accelerometer']['timestep'].cumsum()
dataframes['Barometer'].rename(columns={'Time (s)': 'timestep', 'X (hPa)': 'x'}, inplace=True)
# dataframes['Barometer']['timestep'] = dataframes['Barometer']['timestep'].cumsum()
dataframes['Gyroscope'].rename(columns={'Time (s)': 'timestep', 'X (rad/s)': 'x', 'Y (rad/s)': 'y', 'Z (rad/s)': 'z'}, inplace=True)
# dataframes['Gyroscope']['timestep'] = dataframes['Gyroscope']['timestep'].cumsum()
dataframes['Linear_Accelerometer'].rename(columns={'Time (s)': 'timestep', 'X (m/s^2)': 'x', 'Y (m/s^2)': 'y', 'Z (m/s^2)': 'z'}, inplace=True)
# dataframes['Linear_Accelerometer']['timestep'] = dataframes['Linear_Accelerometer']['timestep'].cumsum()
dataframes['Location'].rename(columns={'Time (s)': 'timestep', 'Latitude (°)': 'latitude', 'Longitude (°)': 'longitude', 'Heigh (m)': 'h', 'Velocity (m/s)': 'vel', 'Direction (°)': 'dir', 'Horizontal Accuracy (m)': 'hor_acc', 'Vertical Accuracy (°)': 'ver_acc'}, inplace=True)
# dataframes['Location']['timestep'] = dataframes['Location']['timestep'].cumsum()
dataframes['Magnetometer'].rename(columns={'Time (s)': 'timestep', 'X (μT)': 'x', 'Y (μT)': 'y', 'Z (μT)': 'z'}, inplace=True)
# dataframes['Magnetometer']['timestep'] = dataframes['Magnetometer']['timestep'].cumsum()
dataframes['Proximity'].rename(columns={'Time (s)': 'timestep', 'Distance (cm)': 'dis'}, inplace=True)
# dataframes['Proximity']['timestep'] = dataframes['Proximity']['timestep'].cumsum()
dataframes['time'].rename(columns={'experiment time': 'experiment_time', 'system time': 'system_time', 'system time text': 'system_text_time'}, inplace=True)
dataframes['time']['timeseq'] = dataframes['time']['experiment_time'].cumsum()

In [76]:
# Save to dataframes as csv in the datasets folder
for df in dataframes.keys():
    dataframes[df].to_csv('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/DataIvo/' + df + 'ivo.csv', index=False)

In [79]:
# Add a column and calculate the difference between the time steps, and when the difference is negative, put it to 0
# for df in dataframes.keys():
dataframes['Accelerometer']['difference'] = np.nan
for i in range(len(dataframes['Accelerometer'].index)- 1):
    if i == 0:
        dataframes['Accelerometer']['difference'][i] = 0
    elif dataframes['Accelerometer']['timestep'][i+1] < dataframes['Accelerometer']['timestep'][i]:
        dataframes['Accelerometer']['difference'][i] = 0 
    else:  
        dataframes['Accelerometer']['difference'][i] = dataframes['Accelerometer']['timestep'][i+1] - dataframes['Accelerometer']['timestep'][i]

dataframes['Accelerometer']['timeseq'] = dataframes['Accelerometer']['difference'].cumsum()

dataframes['Accelerometer']

        timestep         x         y         z  difference     timeseq
0       0.004542  1.358275  1.754202  9.353300    0.000000    0.000000
1       0.014562  1.612896  1.417103  9.527088    0.010020    0.010020
2       0.024582  1.904639  1.192420  9.493708    0.010019    0.020039
3       0.034601  2.216441  1.023422  9.454639    0.010020    0.030059
4       0.044621  2.431244  0.893642  9.569600    0.010020    0.040079
...          ...       ...       ...       ...         ...         ...
43730  31.884649 -3.555107  4.220773  9.892329    0.010019  438.041843
43731  31.894668 -3.380271  4.232000  9.570648    0.010019  438.051862
43732  31.904687 -3.126249  4.097579  7.799980    0.010019  438.061881
43733  31.914706 -2.722538  3.734584  6.417605    0.010019  438.071900
43734  31.924725 -2.621349  3.650758  6.924151         NaN         NaN

[43735 rows x 6 columns]

In [46]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

maps = ['IvoSquads/', 'IvoLunges/', 'IvoJumpingJacks/', 'IvoLegRaises/', 'IvoCrunches/', 'IvoPushUps/']

# Specify the directory containing the CSV files
directory = '/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/exercisesIvo/'

# Create an empty dictionary to store the DataFrames
dfs = {}
dfsall = {}

for map in maps:
    path = os.path.join(directory, map)
    
    # Loop through all files in the directory
    for filename in os.listdir(path):
        if filename == 'Accelerometer.csv':  # Check if the file is a CSV file
            file_path = os.path.join(path, filename)  # Use 'path' instead of 'directory'
            
            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(file_path)
            
            # Assign a name to the DataFrame (e.g., using the filename without the extension)
            name = filename[:-4] + map[:-1] # Remove the '.csv' extension
            dfsall[name] = df   

timesdf = pd.read_csv('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/DataIvo/timeivo.csv')

indicesbegin = [192, 183, 400, 346, 288, 337]
begintimes = []
for df1 in dfsall.values():
    if indicesbegin == []:
        break
    begintimes.append(df1.at[indicesbegin[0], 'Time (s)'])
    indicesbegin.pop(0)

indicesend = [4086, 4299, 3200, 4279, 2357, 2725]
endtimes = []
for df1 in dfsall.values():
    if indicesend == []:
        break
    endtimes.append(df1.at[indicesend[0], 'Time (s)'])
    indicesend.pop(0)

timesdf['experiment_time'] = timesdf['experiment_time'].cumsum()

In [47]:
timesdf

    event  experiment_time
0   START         0.000000
1   PAUSE        44.154178
2   START        44.154178
3   PAUSE        89.957920
4   START        89.957920
5   PAUSE       124.435897
6   START       124.435897
7   PAUSE       180.772955
8   START       180.772955
9   PAUSE       209.322026
10  START       209.322026
11  PAUSE       241.261970

In [230]:
new_rows = []

for i, row in timesdf.iterrows():
    if row['event'] == 'START':
        new_rows.append({'event': 'start_timing', 'experiment_time': row['experiment_time']})
    new_rows.append(row)  # Add the current row
    if row['event'] == 'PAUSE':
        new_rows.append({'event': 'end_timing', 'experiment_time': row['experiment_time']})

# Create a new DataFrame with the updated rows
timesdf = pd.DataFrame(new_rows, columns=['event', 'experiment_time'])

# Reset the index
timesdf.reset_index(drop=True, inplace=True)

In [231]:
timesdf

           event  experiment_time
0   start_timing         0.000000
1          START         0.000000
2          PAUSE        29.359565
3     end_timing        29.359565
4   start_timing        29.359565
5          START        29.359565
6          PAUSE        69.578073
7     end_timing        69.578073
8   start_timing        69.578073
9          START        69.578073
10         PAUSE       102.551512
11    end_timing       102.551512
12  start_timing       102.551512
13         START       102.551512
14         PAUSE       131.775558
15    end_timing       131.775558
16  start_timing       131.775558
17         START       131.775558
18         PAUSE       173.663157
19    end_timing       173.663157
20  start_timing       173.663157
21         START       173.663157
22         PAUSE       198.439213
23    end_timing       198.439213

In [232]:
labels = ['squad', 'lunge', 'jumpingjack', 'legraise', 'crunch', 'pushup']

i = 0
for i in timesdf.index:
    if begintimes == [] or endtimes ==[] or labels == []:
        break
    if timesdf.loc[i]['event'] == 'start_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'end_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'START':
        # timesdf.loc[i-0.5] = ['start_timing', 0]
        timesdf.loc[i, 'experiment_time'] = begintimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'start_exercise'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i-0.5, 'label'] = 'switch'
        begintimes.pop(0)
    if timesdf.loc[i]['event'] == 'PAUSE':
        # timesdf.loc[i+0.5] = ['end_timing', timesdf.loc[i]['experiment_time']]
        timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'end_exercise'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i+0.5, 'label'] = 'switch'
        endtimes.pop(0)
        labels.pop(0)

if endtimes:
    # timesdf.loc[i+1] = ['end_timing', timesdf.loc[i, 'experiment_time']]
    timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
    timesdf.loc[i, 'event'] = 'end_exercise'
    timesdf.at[i, 'label'] = labels[0]
    timesdf.at[i+1, 'label'] = 'switch'
    # timesdf.at[i+1, 'label'] = 'switch'

In [233]:
timesdf

             event  experiment_time        label
0     start_timing         0.000000       switch
1   start_exercise         2.343569        squad
2     end_exercise        27.761051        squad
3       end_timing        29.359565       switch
4     start_timing        29.359565       switch
5   start_exercise        31.290903        lunge
6     end_exercise        69.723318        lunge
7       end_timing        69.578073       switch
8     start_timing        69.578073       switch
9   start_exercise        70.728876  jumpingjack
10    end_exercise       102.107338  jumpingjack
11      end_timing       102.551512       switch
12    start_timing       102.551512       switch
13  start_exercise       104.413233     legraise
14    end_exercise       130.899128     legraise
15      end_timing       131.775558       switch
16    start_timing       131.775558       switch
17  start_exercise       133.765041       crunch
18    end_exercise       173.398865       crunch
19      end_timing       173.663157       switch
20    start_timing       173.663157       switch
21  start_exercise       177.267887       pushup
22    end_exercise       197.032904       pushup
23      end_timing       198.439213       switch

In [234]:
new_rows = []

for i, row in timesdf.iterrows():
    new_rows.append(row.to_dict())  # Add the current row

    if row['event'] == 'start_timing':
        next_row = timesdf.iloc[i + 1]  # Get the next row
        new_rows.append({'event': 'end_timing', 'experiment_time': next_row['experiment_time'], 'label': 'switch'})
    elif row['event'] == 'end_exercise':
        new_rows.append({'event': 'start_timing', 'experiment_time': row['experiment_time'], 'label': 'switch'})

# Create a new DataFrame with the updated rows
timesdf = pd.DataFrame(new_rows, columns=['event', 'experiment_time', 'label'])

# Reset the index
timesdf.reset_index(drop=True, inplace=True)

In [235]:
timesdf

             event  experiment_time        label
0     start_timing         0.000000       switch
1       end_timing         2.343569       switch
2   start_exercise         2.343569        squad
3     end_exercise        27.761051        squad
4     start_timing        27.761051       switch
5       end_timing        29.359565       switch
6     start_timing        29.359565       switch
7       end_timing        31.290903       switch
8   start_exercise        31.290903        lunge
9     end_exercise        69.723318        lunge
10    start_timing        69.723318       switch
11      end_timing        69.578073       switch
12    start_timing        69.578073       switch
13      end_timing        70.728876       switch
14  start_exercise        70.728876  jumpingjack
15    end_exercise       102.107338  jumpingjack
16    start_timing       102.107338       switch
17      end_timing       102.551512       switch
18    start_timing       102.551512       switch
19      end_timing       104.413233       switch
20  start_exercise       104.413233     legraise
21    end_exercise       130.899128     legraise
22    start_timing       130.899128       switch
23      end_timing       131.775558       switch
24    start_timing       131.775558       switch
25      end_timing       133.765041       switch
26  start_exercise       133.765041       crunch
27    end_exercise       173.398865       crunch
28    start_timing       173.398865       switch
29      end_timing       173.663157       switch
30    start_timing       173.663157       switch
31      end_timing       177.267887       switch
32  start_exercise       177.267887       pushup
33    end_exercise       197.032904       pushup
34    start_timing       197.032904       switch
35      end_timing       198.439213       switch

In [224]:
# Change the start_exercise and end_exercise to start_timing and end_timing
timesdf['event'] = timesdf['event'].replace(['start_exercise', 'end_exercise'], ['start_timing', 'end_timing'])
timesdf

           event  experiment_time        label
0   start_timing         0.000000       switch
1     end_timing         2.343569       switch
2   start_timing         2.343569        squad
3     end_timing        27.761051        squad
4   start_timing        27.761051       switch
5     end_timing        29.359565       switch
6   start_timing        29.359565       switch
7     end_timing        31.290903       switch
8   start_timing        31.290903        lunge
9     end_timing        69.723318        lunge
10  start_timing        69.723318       switch
11    end_timing        69.578073       switch
12  start_timing        69.578073       switch
13    end_timing        70.728876       switch
14  start_timing        70.728876  jumpingjack
15    end_timing       102.107338  jumpingjack
16  start_timing       102.107338       switch
17    end_timing       102.551512       switch
18  start_timing       102.551512       switch
19    end_timing       104.413233       switch
20  start_timing       104.413233     legraise
21    end_timing       130.899128     legraise
22  start_timing       130.899128       switch
23    end_timing       131.775558       switch
24  start_timing       131.775558       switch
25    end_timing       133.765041       switch
26  start_timing       133.765041       crunch
27    end_timing       173.398865       crunch
28  start_timing       173.398865       switch
29    end_timing       173.663157       switch
30  start_timing       173.663157       switch
31    end_timing       177.267887       switch
32  start_timing       177.267887       pushup
33    end_timing       197.032904       pushup
34  start_timing       197.032904       switch
35    end_timing       198.439213       switch

In [247]:
# Create a new DataFrame with the updated rows
newtimesdf = pd.DataFrame(new_rows, columns=['label', 'start_timing', 'end_timing'])
i = 0
for i in (timesdf.index-1):
    if i== 0:
        thisone = timesdf[i]
        newtimesdf.append({'label': timesdf['label'][i], 'start_timing': timesdf['start_timing'][i], 'end_timing': timesdf['end_timing'][i+1]})
    if timesdf['label'][i] == timesdf['label'][i-1]:
        continue
    if timesdf['label'][i] != 'switch':
        thisone = timesdf[i]
        newtimesdf.append({'label': timesdf['label'][i], 'start_timing': timesdf['start_timing'][i], 'end_timing': timesdf['end_timing'][i+1]})
    if timesdf['label'][i] == 'switch':
        newtimesdf.append({'label': timesdf['label'][i], 'start_timing': timesdf['start_timing'][i], 'end_timing': timesdf['end_timing'][i+3]})
print(i)

newtimesdf

KeyError: -1

In [249]:
newtimesdf = pd.DataFrame(columns=['label', 'start_timing', 'end_timing'])
for i, row in timesdf.iterrows():
    if i == 0:
        thisone = row
        newtimesdf.loc[i] = [row['label'], row['start_timing'], timesdf['end_timing'][i+1]]
    if row['label'] == timesdf['label'][i-1]:
        continue
    if row['label'] != 'switch':
        thisone = row
        newtimesdf.loc[i] = [row['label'], row['start_timing'], timesdf['end_timing'][i+1]]
    if row['label'] == 'switch':
        newtimesdf.loc[i] = [row['label'], row['start_timing'], timesdf['end_timing'][i+3]]

print(newtimesdf)

AttributeError: type object 'object' has no attribute 'dtype'

In [223]:
# Create a pivot table indexed by label
pivottimes  = timesdf.pivot_table(index='label', columns='event', values='experiment_time')
pivottimes
# pivottimes.to_csv('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/timeflo.csv', index=True)

event        end_exercise  end_timing  start_exercise  start_timing
label
crunch         173.398865         NaN      133.765041           NaN
jumpingjack    102.107338         NaN       70.728876           NaN
legraise       130.899128         NaN      104.413233           NaN
lunge           69.723318         NaN       31.290903           NaN
pushup         197.032904         NaN      177.267887           NaN
squad           27.761051         NaN        2.343569           NaN
switch                NaN  102.098049             NaN    100.654206

In [ ]:
new_rows = []

for i, row in timesdf.iterrows():
    if row['event'] == 'START':
        new_rows.append({'event': 'start_timing', 'experiment_time': row['experiment_time']})
    new_rows.append(row)  # Add the current row
    if row['event'] == 'PAUSE':
        new_rows.append({'event': 'end_timing', 'experiment_time': row['experiment_time']})

# Create a new DataFrame with the updated rows
timesdf = pd.DataFrame(new_rows, columns=['event', 'experiment_time'])

# Reset the index
timesdf.reset_index(drop=True, inplace=True)

In [122]:
labels = ['squad', 'lunge', 'jumpingjack', 'legraise', 'crunch', 'pushup']

i = 0
for i in timesdf.index:
    if begintimes == [] or endtimes ==[] or labels == []:
        break
    if timesdf.loc[i]['event'] == 'start_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'end_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'START':
        # timesdf.loc[i-0.5] = ['start_timing', 0]
        timesdf.loc[i, 'experiment_time'] = begintimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'start_timing'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i-0.5, 'label'] = 'switch'
        begintimes.pop(0)
    if timesdf.loc[i]['event'] == 'PAUSE':
        # timesdf.loc[i+0.5] = ['end_timing', timesdf.loc[i]['experiment_time']]
        timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'end_timing'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i+0.5, 'label'] = 'switch'
        endtimes.pop(0)
        labels.pop(0)

if endtimes:
    # timesdf.loc[i+1] = ['end_timing', timesdf.loc[i, 'experiment_time']]
    timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
    timesdf.loc[i, 'event'] = 'end_timing'
    timesdf.at[i, 'label'] = labels[0]
    timesdf.at[i+1, 'label'] = 'switch'
    # timesdf.at[i+1, 'label'] = 'switch'

In [123]:
timesdf

           event  experiment_time        label
0   start_timing         0.000000       switch
1   start_timing         2.343569        squad
2     end_timing        27.761051        squad
3     end_timing        29.359565       switch
4   start_timing        29.359565       switch
5   start_timing        31.290903        lunge
6     end_timing        69.723318        lunge
7     end_timing        69.578073       switch
8   start_timing        69.578073       switch
9   start_timing        70.728876  jumpingjack
10    end_timing       102.107338  jumpingjack
11    end_timing       102.551512       switch
12  start_timing       102.551512       switch
13  start_timing       104.413233     legraise
14    end_timing       130.899128     legraise
15    end_timing       131.775558       switch
16  start_timing       131.775558       switch
17  start_timing       133.765041       crunch
18    end_timing       173.398865       crunch
19    end_timing       173.663157       switch
20  start_timing       173.663157       switch
21  start_timing       177.267887       pushup
22    end_timing       197.032904       pushup
23    end_timing       198.439213       switch

In [250]:
ivo = pd.read_csv('./datasets/exercises/IvoSquads/Accelerometer.csv')

In [251]:
ivo

       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.004542   1.358275   1.754202   9.353300
1      0.014562   1.612896   1.417103   9.527088
2      0.024582   1.904639   1.192420   9.493708
3      0.034601   2.216441   1.023422   9.454639
4      0.044621   2.431244   0.893642   9.569600
...         ...        ...        ...        ...
4401  44.100152  -2.116149   4.864135   9.509126
4402  44.110171  -2.067950   4.899012   9.666748
4403  44.120191  -2.335593   4.395759   8.843460
4404  44.130210  -2.478396   3.789220   6.780300
4405  44.140229  -2.678530   4.000431   6.579717

[4406 rows x 4 columns]

In [253]:
ivotime = pd.read_csv('./datasets/exercises/IvoSquads/time.csv')

In [254]:
ivotime

   event  experiment time   system time                   system time text
0  START         0.000000  1.686146e+09  2023-06-07 15:51:07.868 UTC+02:00
1  PAUSE        44.154178  1.686146e+09  2023-06-07 15:51:52.022 UTC+02:00